<div class="card">
  <div class="card-header">
    <div class="row">
      <h3 class="card-title col">User Name : <%=@user.name %></h3>
      <% if isOwnerOfPage?(@pageId) %>
        <%= link_to "Edit Profile", edit_profile_path, :class => "btn btn-warning"%>
      <% end %>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">Email:  <%= @user.email %></p>
    <p class="card-text">Phone:  <%= @user.phone %></p>
  </div>
  <div class="card-footer">
      <div class="row">
        <h3 class="col">Feed back:</h3>
        <% if !isOwnerOfPage?(@pageId) %>
          <%= link_to "Write Feedback", writeFeedBack_path(@user.id), :class => "btn btn-warning col-2"  %>
        <% end %>
      </div>
      <% @comments.each do |comment| %>
          <%= render partial:  'commentPar', locals: {comment: comment}%>
      <% end %>
  </div>
</div>
